<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bulma</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> -->
    <!-- 記述場所⑤ -->
  </head>
  <body>
    <!-- 記述場所③ -->
    <main class="columns">
        
        <div class="column" style="margin-top: 10px;">

            <article class="message is-success" style="width: 470px;">
                <div class="message-header">
                    <div class="columns">
                        <div class="column is-9" style="margin-top: 5px; margin-right: 1px;">
                            <p>
                                ブラックリストに登録しました
                            </p>
                        </div>
                        <div class="level-right">
                            <div class="column is-3">
                                <button class="button is-danger">確認する</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </article>

            <article class="message is-info" style="width: 470px;">
                <div class="message-header">
                    <div class="columns">
                        <div class="column is-9" style="margin-top: 5px; margin-right: 10px;">
                            <p>
                                登録しました
                            </p>
                        </div>
                        <div class="level-right">
                            <div class="column is-3">
                                <button class="button is-danger">いますぐ表示</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </article>
            
            <article class="message is-link" style="width: 470px;">
                <div class="message-header">
                    <div class="columns">
                        <div class="column is-9" style="margin-top: 5px; margin-right: 10px;">
                            <p>
                                更新しました
                            </p>
                        </div>
                        <div class="level-right">
                            <div class="column is-3">
                                <button class="button is-danger">いますぐ表示</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </article>

            <article class="message is-warning" style="width: 470px;">
                <div class="message-header">
                    <div class="columns">
                        <div class="column is-11" style="margin-top: 5px; margin-right: 28px;">
                            <p>
                                失敗しました
                            </p>
                        </div>
                        <div class="level-right">
                            <div class="column is-1">
                                <button class="button is-danger">確認する</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        </div>

    </main>
    <!-- 記述場所④ -->
  </body>
</html>