{% extends "base.html" %}
{% block title %}
    ブラックリスト
{% endblock title %}
{% block nav_blacklist_active %}
    active
{% endblock nav_blacklist_active %}
{% block navbar_blacklist_active %}
    is-active
{% endblock navbar_blacklist_active %}
{% block contents %}

    <div style="margin-top: 20px;">

        <div class="columns is-multiline">

            {% for data in dataList %}
                <div class="column is-2-widescreen is-3-desktop is-4-tablet">
                    <article class="box media image image is-square">
                        <a class="modal-button" data-target="modal-reg-{{ data.filename }}">
{#                            <img src="{{ data.first }}">#}
                            <img class="lazy" data-original="{{ data.first }}"  />
                        </a>
                    </article>

                    <div id="modal-reg-{{ data.filename }}" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <section class="modal-card-body" style="height: 500px;">
                                <div class="columns">

                                    {% for onazi in data.all %}
                                        <div class="column is-4">
                                            <p style="height: 100px; width: 190px;">
                                                <img src="{{ onazi }}">
                                            </p>
                                        </div>
                                    {% endfor %}

                                </div>
                            </section>
                            <form method='post' action=''>
                                {% csrf_token %}
                                <footer class="modal-card-foot">
                                    <input type="hidden" name="blacklist_humanid" value="{{ data.humanid }}">
                                    <button class="button is-danger" >解除</button>
                                    <button class="button is-info">閉じる</button>
                                </footer>
                            </form>

                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>
    </div>
{% endblock contents %}