{% extends "base.html" %}

{% block contents %}
<div>
    <div class="columns">
        <div class="column is-6">
            <table class="table" align="center"  style="width: 100%;">
                <thead>
                <tr>
                    <th>店舗情報</th>
                    <th style="text-align: right;">
                        <button class="button is-success">店舗情報変更</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th style="text-align: center;">住所</th>
                    <td style="text-align: center;">{{ setting_dic.address }}</td>
                </tr>
                <tr>
                    <th style="text-align: center;">パスワード</th>
                    <td style="text-align: center;">{{ setting_dic.store_pass }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="column is-6">
            <table class="table" align="center" style="width: 100%;">
                <thead>
                <tr>
                    <th>アカウント情報</th>
                    <th style="text-align: right;">
                        <button class="button is-success">アカウント情報変更</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th style="text-align: center;">パスワード</th>
                    <td style="text-align: center;">{{ setting_dic.employee_pass }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="columns">
        <div class="column is-12">
            <table class="table" align="center" style="width: 100%;">
                <thead>
                <tr>
                    <th style="text-align: center;" colspan="4">従業員一覧</th>
                    <th style="text-align: center;"><a class="modal-button" data-target="modal-add">
                        <button class="button is-success">追加</button>
                    </a></th>

                    <div id="modal-add" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title" align="center">従業員追加</p>
                                <button class="delete" aria-label="close"></button>
                            </header>
                            <form method='post' action=''>
                                {% csrf_token %}
                                <section class="modal-card-body">
                                    <div class="Eid">
                                        <label class="label">従業員ID</label>
                                        <div class="control">
                                            <input class="input" type="text" name="eid">
                                        </div>
                                    </div>
                                    <div class="Name">
                                        <label class="label">氏名</label>
                                        <div class="control">
                                            <input class="input" type="text" name="ename">
                                        </div>
                                    </div>
                                    <div class="Passward">
                                        <label class="label">パスワード</label>
                                        <div class="control">
                                            <input class="input" type="text" name="passward">
                                        </div>
                                    </div>
                                </section>
                                <footer class="modal-card-foot">
                                    <a class="modal-button">
                                        <button class="button is-success">追加</button>
                                    </a>
                                    <a class="modal-button">
                                        <button class="button is-danger" style="margin-left: 20px;">キャンセル</button>
                                    </a>
                                </footer>
                            </form>
                        </div>
                    </div>
                    <th style="text-align: center;">
                        <button class="button is-danger">削除</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th style="text-align: center;">従業員ID</th>
                    <th style="text-align: center;">氏名</th>
                    <th style="text-align: center;">パスワード</th>
                    <th style="text-align: center;">店舗ID</th>
                    <th style="text-align: center;">ステータス</th>
                    <th style="text-align: center;">登録日</th>
                    <!-- <th></th> -->
                </tr>
                <!-- <tr class="tbl"> -->
                {% for empdata in setting_dic.employee_list %}
                    <tr>
                        <td style="text-align: center;">{{ empdata.eid }}</td>
                        <td style="text-align: center;">{{ empdata.ename }}</td>
                        <td style="text-align: center;">{{ empdata.epass }}</td>
                        <td style="text-align: center;">{{ empdata.sid }}</td>
                        <td style="text-align: center;">有効</td>
                        <td style="text-align: center;">{{ empdata.date }}</td>
                        <!-- <td><button class="button is-danger" onclick="delLine(this)">削除</button></td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock contents %}