{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <title>従業員ログイン</title>
    <link rel="stylesheet" href="{% static 'web/bulma/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'web/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/default.css' %}">
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-1 p-b-90">
            <form id="loginForm" class="login100-form validate-form flex-sb flex-w"
                  action="{% url 'web:login_auth_employee' %}" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-51">
                        <img src="{% static 'web/img/watch.png' %}" style="width: 200px;"><br>
						従業員ログイン
					</span>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                    <input class="input100" type="text" name="eid" placeholder="Employee ID">
                </div>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="epass" placeholder="Employee Pass">
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        ログイン
                    </button>
                </div>

                <a href="#" class="login1000-form-create-store m-t-25">
                    従業員アカウントを作成
                </a>
                <a href="{% url 'web:logout' %}" class="login1000-form-create-store m-t-25">
                    店舗アカウントをログアウト
                </a>
            </form>
        </div>
    </div>
</div>

</body>
</html>