{% extends "base.html" %}
{% block title %}
    ホーム
{% endblock title %}
{% block nav_home_active %}
    active
{% endblock nav_home_active %}
{% block navbr_home_active %}
    is-active
{% endblock navbr_home_active %}
{% block contents %}
    <div class="columns">
        <div class="column is-12">
            <article class="box media" style="height: 500px; overflow-y: scroll; margin-top: 10px;">
                <div class="media-content">
                    <div class="hero is-light">
                        <div class="hero-body">
                            <div class="container" style="width: 100%;">
                                <h1 class="title" align="center">カメライベント</h1>
                            </div>
                        </div>
                    </div>

                    {% if news_ary|length > 0 %}
                        {% for news in news_ary%}
                            <article class="media">
                                <a class="subtitle is-5" href="{% url 'web:image' %}">{{news.datetime}}　{{news.comment}}</a>
                            </article>
                        {% endfor %}
                    {% else %}
                        <p class="subtitle is-5 home-no-news-center">新着情報がありません</p>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6">
            <article class="box media" style="height: 500px;overflow-y: scroll;">
                <div class="media-content">

                    <div class="hero is-dark">
                        <div class="hero-body">
                            <div class="container" style="width: 100%">
                                <h1 class="title" align="center">違法駐車</h1>
                            </div>
                        </div>
                    </div>
                    {% if news_ihouchusha_ary|length > 0 %}
                        {% for news_ihouchusha in news_ihouchusha_ary %}
                            <article class="media">
                                <a class="subtitle is-5" href="{% url 'web:parking' %}">{{news_ihouchusha.datetime}}　{{news_ihouchusha.comment}}</a>
                            </article>
                        {% endfor %}
                    {% else %}
                        <p class="subtitle is-5 home-no-news-center">新着情報がありません</p>
                    {% endif %}

                </div>
            </article>
        </div>
        <div class="column is-6">
            <article class="box media" style="height: 500px; overflow-y: scroll;">
                <div class="media-content">

                    <div class="hero is-dark">
                        <div class="hero-body">
                            <div class="container" style="width: 100%;">
                                <h1 class="title" align="center">ブラックリスト</h1>
                            </div>
                        </div>
                    </div>
                    {% if news_blacklist_ary|length > 0 %}
                        {% for news_blacklist in news_blacklist_ary %}
                            <article class="media">
                                <a class="subtitle is-5" href="{% url 'web:blacklist' %}">{{news_blacklist.datetime}}　{{news_blacklist.comment}}</a>
                            </article>
                        {% endfor %}
                    {% else %}
                        <p class="subtitle is-5 home-no-news-center">新着情報がありません</p>
                    {% endif %}

                </div>
            </article>
        </div>
    </div>

{% endblock contents %}