{% extends "base.html" %}

{% block contents %}
    <div class="columns">
        <div class="column is-12">
            <article class="box media" style="height: 300px; overflow-y: scroll; margin-top: 10px;">
                <div class="media-content">
                    {% for news in news_ary%}
                        <article class="media">
                            <a href="{{news.url}}">{{news.comment}}</a>
                        </article>
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6">
            <article class="box media" style="height: 400px;overflow-y: scroll;">
                <div class="media-content">

                    <div class="hero is-warning is-bold">
                        <div class="hero-body">
                            <div class="container" style="width: 400px;">
                                <h1 class="title" align="center">違法駐車</h1>
                            </div>
                        </div>
                    </div>

                    {% for news_ihouchusha in news_ihouchusha_ary %}
                        <article class="media">
                            <a href="{{news_ihouchusha.url}}">{{news_ihouchusha.comment}}</a>
                        </article>
                    {% endfor %}
                </div>
            </article>
        </div>
        <div class="column is-6">
            <article class="box media" style="height: 400px; overflow-y: scroll;">
                <div class="media-content">

                    <div class="hero is-danger is-bold">
                        <div class="hero-body">
                            <div class="container" style="width: 400px;">
                                <h1 class="title" align="center">ブラックリスト</h1>
                            </div>
                        </div>
                    </div>

                    {% for news_blacklist in news_blacklist_ary %}
                        <article class="media">
                            <a href="{{news_blacklist.url}}">{{news_blacklist.comment}}</a>
                        </article>
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>

{% endblock contents %}