{% extends "base.html" %}
{% block title %}
    画像一覧
{% endblock title %}
{% block nav_image_active %}
    active
{% endblock nav_image_active %}
{% block navbr_image_active %}
    is-active
{% endblock navbr_image_active %}
{% load staticfiles %}

{% block contents %}
    <div style="margin-top: 20px;">

        {#        {% for images in image_array %}#}
        <div>
            <h1 class="title">
                {#                    {{ data.datetime }}#}
                <hr>
            </h1>
        </div>
        <div class="columns is-multiline">

            {% for images in image_array %}
                <div class="column is-3-widescreen is-4-desktop is-6-tablet">
                    <article class="box media image image is-4by3">
                        <a class="modal-button" data-target="modal-bis{{ images.0.path }}">
                            {#                                <img src="{{ path }}">#}
                            <img class="lazy" data-original="{{ images.0.path }}"/>
                        </a>
                    </article>

                    {#                        画像拡大表示モーダル#}
                    <div id="modal-bis{{ images.0.path }}" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">画像詳細</p>
                                <button class="delete" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                <p class="image is-4by3">
                                    <img src="{{ images.0.path }}">
                                </p>
                            </section>
                            <footer class="modal-card-foot">
                                <a class="modal-button" data-target="modal-black{{ images.0.path }}"
                                   style="margin-right: 15px;">
                                    <!-- <div class="modal_img"> -->
                                    {% if images|length > 1 %}
                                        <button class="button modal_img">ブラックリスト追加</button>
                                    {% endif %}
                                    <!-- </div> -->
                                </a>
                                <button class="button is-right">閉じる</button>
                            </footer>
                        </div>
                    </div>

                    {#                    ブラックリスト登録モーダル#}
                    <div id="modal-black{{ images.0.path }}" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">ブラックリストへ登録</p>
                                <button class="delete" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body" style="overflow-y: scroll;">
                                <!-- Content ... -->
                                <div class="columns is-multiline">
                                    {#                                    <div class="column is-6" style="position:relative; visibility: hidden;">#}
                                    {#                                        <span style="width: 100%; text-align: center; position: absolute;">人を選択してください</span>#}
                                    {#                                        <p class="change" style="position: absolute;">#}
                                    {#                                            <img src="">#}
                                    {#                                        </p>#}
                                    {#                                    </div>#}

                                    {#                                    <div class="columns" style="overflow-y: scroll;">#}
                                    {% for image in images %}
                                        {% if forloop.counter > 1 %}

                                            <div class="column is-4 toggle image_list">
{#                                                <div>#}
{#                                                <div class="image_box image image is-square">#}
{#                                                    <img class="thumbnail" src="{{ image.path }}"/>#}
{#                                                    <input class="h" type="hidden" name="humanId" value="{{ image.humanid }}"/>#}
                                                    {#                                                        <input class="disabled_checkbox" type="checkbox" checked/>#}
{#                                                    {% if image.humanid|slugify in black_list_human_ids %}#}
                                                        {#                                                            ブラックリスト登録済み#}
{#                                                    {% else %}#}
                                                        {#                                                            <input class="disabled_checkbox" type="checkbox" checked/>#}
{#                                                    {% endif %}#}
{#                                                </div>#}
                                                    {% if image.humanid|slugify in black_list_human_ids %}
                                                        <div class="image_box image image is-square">
                                                            <img class="thumbnail" src="{{ image.path }}"/>
                                                            <input class="h" type="hidden" name="humanId" value="{{ image.humanid }}"/>
                                                            <input class="disabled_checkbox" type="checkbox" checked/>

                                                        </div>
                                                        <p class="subtitle is-5">ブラックリスト登録済</p>
                                                    {% else %}
                                                        <div class="image_box image image is-square">
                                                            <img class="thumbnail" src="{{ image.path }}"/>
                                                            <input class="h" type="hidden" name="humanId" value="{{ image.humanid }}"/>
                                                            <input class="disabled_checkbox" type="checkbox" checked/>
                                                        </div>
                                                    {% endif %}
{#                                                </div>#}
                                                {#                                                    <div class="column is-8">#}
                                                {#                                                            <span style="margin-top: 10px;">#}
                                                {#                                                                    {% if image.bl == 'True' %}#}
                                                {#                                                                        ブラックリスト登録済み#}
                                                {#                                                                    {% else %}#}
                                                {#                                                                        ブラックリスト未登録#}
                                                {#                                                                    {% endif %}#}
                                                {#                                                            </span>#}
                                                {#                                                    </div>#}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {#                                    </div>#}
                                </div>
                            </section>

                            <footer class="modal-card-foot">
                                <form method='post' action=''>
                                    {% csrf_token %}
                                    <input type="hidden" name="bl_path" class="bl_path" value="{{ path }}">
                                    <input type="hidden" name="humanId" class="humanId" value="">
                                    <div class="field has-addons has-addons-right">
                                        <p class="control">
                                            <input name="register_name" class="input" type="text" maxlength="20"
                                                   placeholder="登録名">
                                        </p>
                                        <p class="control">
                                            <button class="button is-success">登録</button>
                                        </p>
                                    </div>
                                </form>
                                {#                                    <button class="button">閉じる</button>#}
                            </footer>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>
        {#        {% endfor %}#}

    </div>
{% endblock %}

{% block end_scripts %}

    <script type="text/javascript">
        $(function () {

            $(".modal_img").on("click", function () {
                //選択状態を解除する
                $(".toggle").removeClass("is-active");

                {#var mimg = $(this).parents(".modal-content").find("img").attr("src");#}

                $(".change").children("img").attr("src", "");
            });

            //選択状態の背景色を変更
            $(".click").on("click", function () {
                //選択状態を解除する
                $(".toggle").removeClass("is-active");

                $(this).parents(".toggle").toggleClass("is-active");

                var img_change = $(this).children("img").attr("src");
                var humnanId = $(this).children("input").attr("value");
                // 登録ボタンのvalueを変更する
                $(".bl_path").val(img_change);
                $(".humanId").val(humnanId);
                $(".change").children("img").attr("src", img_change);
            });

            // $("#re").click(function(){
            //     location.reload(true);
            // });
            // Instantiate MixItUp:

            // if(flg == false){
            //     document.getElementById('#dis').style.display = none;
            // }

            // $('#alldis').click(function(){
            //     document.getElementById('#dis').style.display = inline;
            // });
            // $('#Container').mixItUp();

            $(function () {
                // チェックボックスのクリックを無効化します。
                $('.image_box .disabled_checkbox').click(function () {
                    return false;
                });

                // 画像がクリックされた時の処理です。
                $('img.thumbnail').click(function () {
                    var $imageList = $('.image_list');

                    // 現在の選択を解除します。
                    $imageList.find('img.thumbnail.checked').removeClass('checked');
                    var humnanId = $(this).next('.h').attr("value");
                    $(".humanId").val(humnanId);
                    // チェックを入れた状態にします。
                    $(this).addClass('checked');
                });
            });
        });
    </script>
{% endblock %}
