{% extends "base.html" %}
{% block nav_parking_active %}
    active
{% endblock nav_parking_active %}
{% block navbr_parking_active %}
    is-active
{% endblock navbr_parking_active %}
{% block contents %}
    <div class="rows" style="margin-top: 20px;">
        <div>
            <div class="columns">
                <div class="column">
                    <!-- <a class="modal-button" data-target="modal-reg"><button class="button is-success">追加</button></a> -->
                </div>
                <div id="modal-reg" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title" align="center">違法駐車登録画面</p>
                            <button class="delete" aria-label="close"></button>
                        </header>

                        <form method='post' action=''>
                            {% csrf_token %}
                            <input type="hidden" name="parking_add" value="parking_add">
                            <section class="modal-card-body">
                                <div class="Color">
                                    <label class="label">プレート色</label>
                                    <label class="radio">
                                        <input type="radio" name="white">
                                        白
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="green">
                                        緑
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="yellow">
                                        黄
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="black">
                                        黒
                                    </label>
                                </div>
                                <div class="Location">
                                    <label class="label">所在地</label>
                                    <div class="control">
                                        <input class="input" type="text" name="location">
                                    </div>
                                </div>
                                <div class="Classnumber">
                                    <label class="label">分類番号</label>
                                    <div class="control">
                                        <input class="input" type="text" name="classnumber">
                                    </div>
                                </div>
                                <div class="Hiragana">
                                    <label class="label">ひらがな</label>
                                    <div class="control">
                                        <input class="input" type="text" name="hiragana">
                                    </div>
                                </div>
                                <div class="Number">
                                    <label class="label">ナンバー</label>
                                    <div class="control">
                                        <input class="input" type="text" name="number">
                                    </div>
                                </div>
                            </section>
                            <footer class="modal-card-foot">
                                <!-- <a class="modal-button" data-target="modal-reg2"><button class="button is-info">次へ</button></a> -->
                                <a class="modal-button">
                                    <button class="button is-info">登録</button>
                                </a>
                                <a class="modal-button">
                                    <button class="button is-danger" style="margin-left: 20px;">キャンセル</button>
                                </a>
                            </footer>
                        </form>
                    </div>
                </div>

                <div class="level-item" style="margin-right: 10px;">
                    <div class="is-right">
                        <a class="modal-button" data-target="modal-reg">
                            <button class="button is-success">追加</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <table class="table" align="center" style="width: 100%;">
                    <thead>
                    <tr>
                        <th style="text-align: center;">プレート色</th>
                        <th style="text-align: center;">所在地</th>
                        <th style="text-align: center;">分類番号</th>
                        <th style="text-align: center;">ひらがな</th>
                        <th style="text-align: center;">ナンバー</th>
                        <th style="text-align: center;">店名</th>
                        <th style="text-align: center;">登録年月日</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in dataList %}
                        <tr>
                            <td style="text-align: center;">{{ data.parking.colortype }}</td>
                            <td style="text-align: center;">{{ data.parking.shiyohonkyochi }}</td>
                            <td style="text-align: center;">{{ data.parking.bunruibango }}</td>
                            <td style="text-align: center;">{{ data.parking.jigyoyohanbetsumoji }}</td>
                            <td style="text-align: center;">{{ data.parking.ichirenshiteibango }}</td>
                            <td style="text-align: center;">{{ data.sname }}</td>
                            <td style="text-align: center;">{{ data.parking.datetime }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock contents %}