<div class="submenu column is-2" style="margin-top: 10px;">
    <aside class="box menu">
        <ul class="menu-list">
            <li>
                <a href="../" {%if location_home %}class="is-active"{% endif %}>HOME</a>
            </li>
            <li>
                <a href="../image" {%if location_image %}class="is-active"{% endif %}>画像一覧</a>
            </li>
            <li>
                <a href="../ihochusha" {%if location_parking %}class="is-active"{% endif %}>違法駐車</a>
            </li>
            <li>
                <a href="../blacklist" {%if location_bl %}class="is-active"{% endif %}>ブラックリスト</a>
            </li>
            <li>
                <a href="../setting" {%if location_setting %}class="is-active"{% endif %}>設定</a>
            </li>
        </ul>
    </aside>
</div>