<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>店舗ログイン</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> -->

    <style>
        /* .input{ */
            /* border: ridge hsl(348, 100%, 61%); */
            /* border: ridge rgb(80, 80, 80);
            height: 40px; */
        /* } */
    </style>

  </head>
  <body>
    <main class="columns">
        <div class="column">
            <div align="center">
                <img src="https://lh5.googleusercontent.com/SURaoXcvUB97VZEwb2Tr57aluNZ_3XCpah-iPPu4v2-9E68iBvaAzF4PKOPjlySG6xqWuEjrsg1ZvXUOelXq=w3360-h1772">
                <h1 class="title is-2" style="margin-top: 10px;"><strong>店舗ログイン</strong></h1>
                <form id="loginForm" action="{% url 'web:login_auth_store' %}" method="post" style="border-radius: 30px; border: 1px solid hsl(348, 100%, 61%); height: 240px; width: 480px;">
                {% csrf_token %}
                    <div class="level-center">
                        <div class="level-item" style="margin-top: 40px;">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="Store ID" style="margin-top: 10px;" name="sid">
                                    <input class="input" type="text" placeholder="Store Pass" style="margin-top: 15px;" name="spass">
                                </div>
                            </div>
                        </div>
                        <button class="button is-danger" style="margin-top: 15px; width: 373px;"><strong>ログイン</strong></button>
                    </div>
                </form>
            </div>
        </div>
    </main>
  </body>
</html>