<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bulma</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> -->
    <!-- 記述場所⑤ -->
  </head>
  <body>
    <header class="navbar">
        <div class="navbar-start">
            <span class="navbar-item">
                <a class="fa fa-language" href="../home_bulma.html">HOME</a>
            </span>
        </div>
        <div class="navbar-end">
            <span class="navbar-item">
                <a class="fa fa-user" href="#">ログイン</a>
            </span>
        </div>
        <!-- 記述場所③ -->
    </header>
    <!-- 記述場所③ -->
    <main class="columns">
        <div class="submenu column is-2" style="margin-top: 10px;">
            <aside class="box menu">
                <ul class="menu-list">
                    <li><a href="../home_bulma.html" class="is-active">HOME</a></li>
                    <li><a href="../image_bulma.html">画像一覧</a></li>
                    <!-- <li><a href="board_bulma.html">掲示板</a></li> -->
                    <li><a href="../parking_bulma.html">違法駐車</a></li>
                    <li><a href="../blacklist_bulma.html">ブラックリスト</a></li>
                    <li><a href="../configuration_bulma.html">設定</a></li>
                </ul>
            </aside>
        </div>

    </main>

  </body>
</html>